In [374]:
import math
import pandas as pd

In [375]:
def func(x: list[float, float, float], step=-1):
    if step == 0:
        return x[0] + 1 / 2 * x[2] + 1
    elif step == 1:
        return x[1] + x[2] + 1
    elif step == 2:
        return 2 * x[2] + x[1] + 1 / 2 * x[0] + 1
    return x[2] ** 2 + x[1] * x[2] + 1 / 2 * (x[0] * x[2] + x[1] ** 2 + x[0] ** 2) + x[2] + x[1] + x[0]


def len_vec(px: list[float, float, float]):
    return math.sqrt(px[0] ** 2 + px[1] ** 2 + px[2] ** 2)

In [376]:
def main_cycle(x: list[float, float, float], h: float) -> list[float, float, float]:
    return [pos - h * func(x, i) for i, pos in enumerate(x)]

In [377]:
eps = 0.001
begin_step = 0.1
h = begin_step

index = 0

start_pos = [1, 1, 1]

vec = start_pos
px = [func(vec, i) for i in range(3)]
norm = len_vec(px)
prev_res = func(start_pos)
diff = -1

In [378]:
columns = ["h", "x", "y", "z", "f(x, y, z)", "diff", "f`_x", "f`_y", "f`_z", "norm"]
data = [h,
        vec[0], vec[1], vec[2],
        prev_res, None, px[0], px[1], px[2],
        norm]
df = pd.DataFrame([data], columns=columns)
df

     h  x  y  z  f(x, y, z)  diff  f`_x  f`_y  f`_z      norm
0  0.1  1  1  1         6.5  None   2.5     3   4.5  5.958188

In [379]:
while norm > eps:
    if diff > 0:
        h /= 2
    vec = main_cycle(vec, h)
    res = func(vec)
    diff = res - prev_res
    prev_res = res
    px = [func(vec, i) for i in range(3)]
    norm = len_vec(px)
    data = [h,
            vec[0], vec[1], vec[2],
            res, diff, px[0], px[1], px[2],
            norm]
    df.loc[len(df.index)] = data
    
df.to_csv(f'precision_{eps} step_{begin_step}.csv')
df

C:\Users\artem\AppData\Local\Temp\ipykernel_10360\1912946317.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc[len(df.index)] = data

,h,x,y,z,"f(x, y, z)",diff,f`_x,f`_y,f`_z,norm
0,0.1,1.000000,1.000000,1.000000,6.500000,NaN,2.500000,3.000000,4.500000,5.958188
1,0.1,0.750000,0.700000,0.550000,3.420000,-3.080000e+00,2.025000,2.250000,3.175000,4.386770
2,0.1,0.547500,0.475000,0.232500,1.745831,-1.674169e+00,1.663750,1.707500,2.213750,3.253354
3,0.1,0.381125,0.304250,0.011125,0.821041,-9.247905e-01,1.386687,1.315375,1.517062,2.440203
4,0.1,0.242456,0.172712,-0.140581,0.297335,-5.237054e-01,1.172166,1.032131,1.012778,1.861447
...,...,...,...,...,...,...,...,...,...,...
233,0.1,-1.331818,-1.663635,0.664470,-1.166664,-1.289129e-07,0.000417,0.000834,-0.000605,0.001112
234,0.1,-1.331859,-1.663719,0.664530,-1.166665,-1.219138e-07,0.000406,0.000811,-0.000588,0.001081
235,0.1,-1.331900,-1.663800,0.664589,-1.166665,-1.152947e-07,0.000395,0.000789,-0.000572,0.001051
236,0.1,-1.331939,-1.663879,0.664646,-1.166665,-1.090350e-07,0.000384,0.000767,-0.000556,0.001023
237,0.1,-1.331978,-1.663955,0.664702,-1.166665,-1.031151e-07,0.000373,0.000746,-0.000541,0.000994

In [380]:
# Настоящий результат: -1.16666666.....7
#(*) = (-1.333..., -1.666..., 0.666...)